<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png"/>
    <title>{{title}} - {{path}}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">

</head>

<body>

<section class="container">

    <h2>{{title}} - [{{path}}]</h2>

    <div class="top-bar">
        <input type="search" style="float: left;" class="light-table-filter" data-table="order-table"
               placeholder="Filter">

        {% if upload %}
        <form action="/upload" method="post" style="float: right;width: 400px"
              enctype="multipart/form-data">
            <input type="hidden" name="path" value="{{path}}">
            <input type="file" name="file" value="file"/>
            <input id="submit_form" type="submit" value="upload"/>
        </form>
        {% endif %}

    </div>

    <table class="order-table table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Size</th>

        </tr>
        </thead>
        <tbody>

        {% if nav %}
        <tr>
            <td><a href="../" title="<-back"><-back</a></td>
            <td>-</td>
            <td>-</td>
        </tr>
        {% endif %}

        {% for file in files %}
        <tr>
            <td><a href="{{file.path}}" title="{{file.name}}">{{file.name}}</a></td>
            <td>{{file.time}}</td>
            <td>{{file.size}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

</section>

<script>
    (function (document) {
        'use strict';

        var LightTableFilter = (function (Arr) {

            var _input;

            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            function _filter(row) {
                var text = row.textContent.toLowerCase(),
                    val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }

            return {
                init: function () {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);

</script>

</body>

</html>