<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png"/>
    <title>{{title}} - {{path}}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    {% block style %}
    {% endblock %}
</head>

<body>

<div class="container">

    <div class="row">
        <h2 style="margin-left: 5px"><a href="/">{{title}}</a> - {{path}}</h2>
    </div>

    <div class="row well" style="padding: 7px;margin-bottom: 5px;">

        {% block search %}
        <input type="search" style="float: left;width: 250px" class="form-control light-table-filter finder-search"
               data-table="order-table"
               placeholder="Filter">
        {% endblock %}

        {% if upload %}
        <div style="float: right;" class="btn-group" role="group" aria-label="Basic example">
            {% block upload %}
            <button onclick="mkdir('{{path}}')" type="button" class="btn btn-secondary btn-primary">New</button>
            <button type="button" class="btn btn-secondary btn-primary">Remote</button>
            <a href="/up88{{path}}" class="btn btn-secondary btn-primary">Upload</a>
            {% endblock %}
        </div>
        {% endif %}

    </div>

    {% block body %}
    {% endblock %}

    {% block script %}
    {% endblock %}

</div>
</body>

</html>