{% extends 'layout.html' %}

{% block style %}

<link rel="stylesheet" href="/static/dropzone/dropzone.css">
<link rel="stylesheet" href="/static/dropzone/basic.css">

{% endblock %}

{% block upload %}

<a href="{{path}}" class="btn btn-secondary btn-primary">Finder</a>

{% endblock %}

{% block body %}

<div class="row">
    <div id="dropzone" class="dropzone needsclick dz-clickable">

    </div>
</div>

{% endblock %}


{% block script %}

<script src="/static/jquery-1.12.1.min.js"></script>
<script src="/static/dropzone/dropzone.js"></script>

<script>
    $(function () {
        $("#dropzone").dropzone({
            url: "fileUpload.htm",
            maxFiles: 10
        });
    })
</script>

{% endblock %}